/*mobile first design*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 90vw;
    margin: 0 auto;
}

/*header design*/
header{
    background: rgb(0, 0, 75);
    color: white;
    padding: 1.5rem 0;
    font-size: 1.4rem;
} 
.mira-image{
    display: flex;
}
.mira-image img{
    height: 3.5rem;
    background: transparent;
}
.mira-image h3{
    padding: 1rem 0;
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav a{
    color: white;
    text-decoration: none;
    padding: 1rem 0;
}
/*main designs here*/
main{
    background: rgb(221, 191, 197) ;
    font-size: 1.7rem;
    text-align: center;
    padding: 1rem 0;
    height: 100vh;
}
main .container img{
    height: 4rem;
    margin-bottom: 2rem;
}
main .container h4{
    color:  rgb(0, 0, 75);
    font-weight: 700;
    margin-bottom: .8rem;
}
main .container p{
    margin-bottom: .8rem;
}
main form{
    background: white;
    text-align: none !important;
    border-radius: .5rem;
    padding: 1rem 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.form-field{
    border-bottom: .1rem solid black;
    margin: 3rem;
    position: relative;
}
.form-field input{
    width: 100%;
    border: none;
    outline: none;
    height: 5rem;
    font-size: 1.5rem;
}
.form-field label{
    position: absolute;
    top: 5%;
    left: .5rem;
    pointer-events: none;
    color: #adadad;
    font-size: 1.5rem;

}
.submit-button{
    background: rgb(0, 0, 63);
    color: white;
    width: 30%;
    padding: 1rem;
    border: none;
    margin-bottom: 2rem;
}
main a{
    text-decoration: none;
}

